//center
.search-box {
  display: flex;
  align-items: center;
  width: var(--search-width);
  height: 40px;
  border-radius: 999px;
  padding: 10px 15px;
  border: 1.2px solid var(--primary-color-light);
  box-shadow: var(--box-shadow-color);
  transition: all 0.1s linear;

  span {
    display: flex;
    align-items: center;
  }

  &:focus-within {
    border-color: var(--primary-color);
    box-shadow: var(--box-shadow-color-hover);
  }
}

.search-input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 0px;
}

.search-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result {
  width: var(--search-width);
}
