.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  width: var(--page-fwidth);
  padding: 10px 15px;
}

.head-title {
  margin: 10px 0;
}

.add-question-container {
  padding: 20px 15px;
}

.question-option {
  box-shadow: var(--box-shadow-color);
  padding: 25px;
  border-radius: var(--box-border-radius);

  + .question-option {
    margin-top: 15px;
  }
}

.question-title {
  & label {
    display: flex;
    flex-direction: column;
  }
}

//input title, tags & text editor
.input {
  outline: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-top: 15px;
  transition: all 0.1s linear;

  &:focus {
    box-shadow: var(--box-shadow-color);
  }
}

.text-editor {
  transition: all 0.1s linear;
  margin-top: 15px;

  &:focus-within {
    box-shadow: var(--box-shadow-color);
  }
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
