.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .page-btn + .page-btn {
    margin-left: 8px;
  }

  .page-btn {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: var(--gray);
    user-select: none;
    cursor: pointer;
  }

  .active {
    background-color: var(--primary-color);
    font-weight: 500;
    color: white;
  }
}
