@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --primary-color: #ed7966;
  --primary-color-light: rgba(237, 120, 102, 0.392);
  --primary-color-hover: #e76c59;
  --primary-color-outline-hover: rgba(231, 108, 89, .3);
  --green: #43aa8b;
  --yellow: #f9c74f;
  --red: #f94144;
  --orange: #f3722c;
  --white: #fff;
  --black: #030e12;
  --light-gray: rgba(22, 24, 35, 0.06);
  --box-shadow-color: rgb(0 0 0 / 12%) 0px 0px 5px;
  --box-shadow-color-hover: rgb(0 0 0 / 12%) 0px 0px 15px;
  --page-fwidth: 1200px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: var(--white);
  user-select: none;
}

a[href] {
  text-decoration: none;
}