@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

:root {
  --primary-color: #ed7966;
  --primary-color-light: rgba(237, 120, 102, 0.392);
  --primary-color-hover: #e76c59;
  --primary-color-outline-hover: rgba(231, 108, 89, 0.3);
  --green: #43aa8b;
  --yellow: #f9c74f;
  --red: #f94144;
  --light-red: rgba(249, 65, 68, 0.301);
  --orange: #f3722c;
  --white: #fff;
  --black: #030e12;
  --code-color: #030e12;
  --light-gray: rgba(22, 24, 35, 0.1);
  --dark-gray: #535353;
  --gray: rgba(22, 24, 35, 0.4);

  --box-shadow-color: rgb(0 0 0 / 12%) 0px 0px 5px;
  --box-shadow-primary-color: rgba(237, 120, 102, 0.5) 0px 0px 10px;
  --bold-box-shadow-color: rgb(0 0 0 / 30%) 0px 0px 15px;
  --box-shadow-color-hover: rgb(0 0 0 / 12%) 0px 0px 15px;

  --box-border-radius: 1rem;

  --page-fwidth: 1200px;
  --search-width: 600px;

  --wrapper-padding: 15px 20px 0px;

  --text-color-black: #030e12;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color-black);

  ::selection {
    background: var(--primary-color-light);
  }
}

strong {
  font-weight: 500;
}

button {
  border: none;
  outline: none;
  background-color: var(--white);
  user-select: none;
}

a[href] {
  text-decoration: none;
  color: var(--text-color-black);
  font-weight: 500;
}
h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 25px;
  font-weight: 600;
}

small {
  font-size: 15px;
}

//Code
pre {
  width: 100%;
  max-height: 700px;
  max-width: 800px;
  background-color: #27212e;
  // background-color: var(--black) !important;
  // margin: 10px 0;

  & code {
    width: 100%;
  }
}

p {
  line-height: 1.8;
}
