.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
  // transition: all 0.1s linear;
  // opacity: 1;

  .container {
    position: relative;
    background-color: var(--main-bg);
    padding: 20px 40px;
    max-width: 80%;
    max-height: 80%;
    border-radius: var(--box-border-radius);
    box-shadow: var(--bold-box-shadow-color);

    .close-btn {
      position: absolute;
      top: -15px;
      right: -15px;
      background-color: var(--main-bg);
      border-radius: 100rem;
      box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }
  }
}
