.wrapper {
  padding: var(--wrapper-padding);

  //HEADER
  .header {
    & .info {
      margin: 35px 0;
      display: flex;
      align-items: center;

      .solved {
        background-color: var(--green);
        padding: 5px 15px;
        font-size: 14px;
        color: var(--main-bg);
        border-radius: var(--box-border-radius);
      }

      & .user {
        display: flex;
        align-items: center;

        & img {
          object-fit: cover;
          max-width: 35px;
          max-height: 35px;
          border-radius: 100rem;
        }
      }

      & .username {
        margin-left: 10px;
        font-weight: 500;
      }

      .reputation-score {
        position: relative;
        color: var(--primary-color);
        font-weight: 500;
        margin: 0 10px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: -10px;
          height: 15px;
          width: 1px;
          transform: translateY(-50%);
          background-color: var(--gray);
        }
      }

      .question-info {
        & span {
          font-size: 16px;
          margin-left: 10px;
          margin-right: 10px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            height: 15px;
            width: 1px;
            transform: translateY(-50%);
            background-color: var(--gray);
          }

          &:last-child {
            &::after {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  //QUESTION
  & .question {
    display: flex;

    & .action {
      margin-right: 20px;
      & div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .vote {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .content {
      .question-content {
        .problem {
          color: var(--text-color);
          margin-top: 10px;
          a[href] {
            color: var(--primary-color);
          }
        }

        .expecting {
          margin-top: 10px;
          a[href] {
            color: var(--primary-color);
          }
        }
      }
    }

    .tags {
      .tag {
        color: var(--primary-color);
      }
    }
  }
}

.hide {
  display: none;
}

.show {
  display: block !important;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.delete-modal-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.post-title-delete {
  font-size: 18px;
  text-align: center;
}
