.wrapper {
  display: flex;
  justify-content: center;
  padding: var(--wrapper-padding);
  margin-top: 60px;

  .container {
    width: var(--page-fwidth-pc);
    padding: 10px 15px;
  }

  .head-title {
    margin: 10px 0;
  }

  .add-work-container {
    padding: 20px 15px;
  }

  .work-option {
    box-shadow: var(--box-shadow-color);
    padding: 25px;
    border-radius: var(--box-border-radius);

    + .work-option {
      margin-top: 15px;
    }
  }

  .work-title,
  .work-upto,
  .work-detail,
  .work-position {
    & label {
      display: flex;
      flex-direction: column;
    }
  }

  .work-upto {
    .upto-input {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input {
        flex: 1;
        margin-right: 10px;
      }
    }
  }

  //input title, tags & text editor
  .input,
  .currency {
    outline: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    transition: all 0.1s linear;
    border-radius: var(--box-border-radius);

    &:focus {
      box-shadow: var(--box-shadow-color);
      border-color: var(--primary-color);
    }
  }

  .text-editor {
    transition: all 0.1s linear;
    margin-top: 15px;

    &:focus-within {
      box-shadow: var(--box-shadow-color);
    }
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .error {
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .require-update-user-info {
    .mess {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        font-weight: 500;
        font-size: 18px;
      }

      span {
        color: var(--dark-gray);
        user-select: none;
      }
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  }
}
