.wrapper {
  height: 60px;
  box-shadow: var(--box-shadow-color);
}

.topbar-container {
  width: var(--page-fwidth);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

//left
.logo {
  display: flex;
  align-items: center;

  .logo-text {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
  }
  .logo-image {
    width: 50px;
    object-fit: cover;
  }
}

//right
.actions {
  display: flex;
  align-items: center;

  & .avatar {
    display: flex;
    align-self: center;
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;

    & img {
      object-fit: cover;
      border-radius: 100rem;
    }
  }

  & .items {
    display: flex;
    margin-right: 8px;
  }
}
