.wrapper {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1.5px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.1s linear;
  box-shadow: var(--box-shadow-color);

  //medium size
  min-width: 140px;
  padding: 8px 15px;
  font-size: 1.8rem;
  font-weight: 500;

  + .wrapper {
    margin-left: 8px;
  }

  //lord-icon support
  .icon {
    lord-icon {
      max-width: 27px;
      max-height: 27px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 500px;
        height: 100px;
        top: -10px;
        left: -30px;
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

//Button Style
.primary {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-hover);
    box-shadow: var(--box-shadow-color-hover);
  }
}

.outline {
  border-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-outline-hover);
    box-shadow: var(--box-shadow-color-hover);
  }
}

.rounded {
  border-radius: 999px;
}

.text {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1.6rem;
  min-width: 50px;
  padding: 8px 8px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color) !important;
  }

  + .text {
    margin-left: 0;
  }
}

//Button Align Items
.start {
  justify-content: left;

  + .start {
    margin-left: 0;
  }
}

.end {
  justify-content: right;

  + .end {
    margin-left: 0;
  }
}

.column {
  + .column {
    margin-left: 0px;
    margin-top: 12px;
  }
}

//Button Sizes
.small {
  // min-width: 100px;
  font-size: 1.4rem;
  padding: 6px 10px;

  //lord-icon support
  .icon {
    lord-icon {
      max-width: 24px;
      max-height: 24px;

      &::after {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 500px;
        height: 100px;
        top: -10px;
        left: -30px;
      }
    }
  }
}

.fwidth {
  width: 100%;
}

.large {
  min-width: 200px;
  padding: 15px 20px;
  font-size: 22px;

  //lord-icon support
  .icon {
    lord-icon {
      max-width: 33px;
      max-height: 33px;

      &::after {
        content: "";
        position: absolute;
        background-color: transparent;
        width: 500px;
        height: 100px;
        top: -10px;
        left: -30px;
      }
    }
  }
}

//Disable
.disable {
  opacity: 0.5 !important;
  pointer-events: none !important;
  box-shadow: none !important;
}

//Orther
.smallLeft {
  margin-left: 20px !important;
}

.ntd {
  text-decoration: none !important;
}
