.wrapper {
  padding: var(--wrapper-padding);

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--box-border-radius);
      border: 1.5px solid var(--gray);
      transition: all 0.1s linear;
      height: 35px;
      width: 30%;

      &:focus-within {
        border: 1.5px solid var(--primary-color);
      }

      .tags-search {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 10px;
        width: 100%;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;

    .item {
      width: 22rem;
      height: 11rem;
      border-radius: var(--box-border-radius);
      box-shadow: var(--box-shadow-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.1s linear;

      .tag-name {
        font-size: 18px;
      }

      .count {
        font-size: 14px;
      }

      &:hover {
        box-shadow: var(--box-shadow-primary-color);
      }
    }
  }
}
