.wrapper {
  width: 200px;
  height: 100vh;
  box-shadow: var(--box-shadow-color);
  clip-path: inset(5px -15px 5px 5px);
  position: fixed;
  background-color: var(--main-bg);

  .btn {
    width: fit-content;
  }

  .active {
    scale: 1.2;
  }
}
