.tagInputClass {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .suggestionsClass {
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow-color);
    border-radius: var(--box-border-radius);
    transition: all 0.1s linear;

    ul {
      li {
        list-style: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: var(--box-border-radius);

        &:hover {
          background-color: var(--primary-color-light);
        }

        span {
          mask {
            background-color: var(--primary-color);
          }
        }
      }
    }
  }
}

.tagInputFieldClass {
  outline: none;
  border: 1px solid transparent;
  padding: 5px 10px;
  width: 100%;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow-color-hover);
  background-color: var(--ultra-light-gray);
  transition: all 0.1s linear;
}

.tagInputFieldClass:focus {
  border-color: var(--primary-color);
  background-color: transparent;
}

.selectedClass {
  display: flex;
  align-items: center;
  justify-content: center;

  .tagClass {
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: var(--box-border-radius);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    white-space: nowrap;

    .removeClass {
      background-color: transparent;
      margin-left: 5px;
      cursor: pointer;
      color: white;
    }
  }
}
