.wrapper {
  padding: var(--wrapper-padding);

  .container {
    .info {
      display: flex;
      align-items: center;
      border: 1px solid var(--light-gray);
      border-radius: var(--box-border-radius);
      padding: 20px;
      box-shadow: var(--box-shadow-color);
      position: relative;

      .edit-profile-icon {
        position: absolute;
        padding: 8px;
        top: 0px;
        right: 8px;
        cursor: pointer;
      }

      .avatar {
        margin-bottom: 15px;
        margin-left: 9px;
        position: relative;

        img {
          border-radius: 100rem;
          object-fit: cover;
          width: 96px;
          height: 96px;
        }

        .edit-icon {
          background-color: var(--primary-color);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 100rem;
          color: var(--main-bg);
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
          user-select: none;
          z-index: 2;
        }

        .edit-icon-bg {
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translate(-50%, 50%);
          width: 35px;
          height: 35px;
          background-color: var(--main-bg);
          border-radius: 100rem;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          width: 106px;
          height: 106px;
          border-radius: 100rem;
          border: 3px dashed var(--primary-color);
          top: -5px;
          left: -5px;
        }
      }

      .details {
        padding: 0 0 0 30px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .user-name {
          font-size: 25px;
          font-weight: 500;
          line-height: 1;
        }

        .job {
          font-size: 18px;
          color: var(--dark-gray);
          font-weight: 500;
        }

        .content {
          display: flex;
          margin-top: 8px;
          border-top: 1px solid var(--light-gray);
          width: 100%;
          padding: 10px 0 0;
          justify-content: space-between;

          .title {
            font-size: 14px;
            line-height: 1;
            color: var(--dark-gray);
            font-weight: 500;
          }

          .reputation-score {
            color: var(--primary-color);
            font-weight: 500;
          }
        }
      }
    }

    .activate {
      margin-top: 20px;

      .top-posts,
      .top-tags,
      .company-description,
      .works {
        border: 1px solid var(--light-gray);
        border-radius: var(--box-border-radius);
        margin-top: 15px;

        .big-title {
          padding: 20px 0 20px 20px;
        }

        .content {
          padding: 0 20px 20px;

          .title {
            font-size: 18px;
            cursor: pointer;
            transition: all 0.1s linear;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }

      .top-tags {
        .content {
          display: flex;
          flex-direction: column;

          .tag {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            border-top: 1px solid var(--light-gray);

            .tag-name {
              color: var(--primary-color);
            }

            .count {
              .count-title {
                font-size: 14px;
                color: var(--dark-gray);
              }
            }
          }
        }
      }

      .top-posts {
        .post {
          padding: 15px 0;
          border-top: 1px solid var(--light-gray);

          .content {
            display: flex;
            justify-content: space-between;

            .date-post {
              font-size: 14px;
              color: var(--dark-gray);
              min-width: 130px;
              text-align: right;
              margin-left: 8px;
            }
          }

          .detail {
            display: flex;
            padding: 0 0 0 20px;

            .detail-item {
              span {
                margin-left: 8px;
              }
            }

            .detail-item + .detail-item {
              margin-left: 20px;
            }
          }
        }
      }

      .works {
        .work-list {
          .content {
            border-top: 1px solid var(--light-gray);

            &:hover {
              background-color: var(--light-gray);
            }

            .work {
              display: flex;
              justify-content: space-between;
              padding-top: 20px;

              .detail {
                display: flex;
                flex-direction: column;
                max-width: 85%;

                .title {
                  font-weight: 500;
                  font-size: 20px;
                  margin-bottom: 5px;
                }

                .more {
                  display: flex;
                  margin-top: 5px;

                  .salary {
                    margin-left: 20px;
                  }

                  .text {
                    margin-left: 8px;
                    font-weight: 500;
                  }

                  .tags {
                    margin-left: 10px;

                    .tag-name {
                      color: var(--primary-color);
                      margin-left: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//CHANGE AVATAR MODAL
.change-avatar-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .change-avatar-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  .avatar-preview img {
    border-radius: var(--box-border-radius);
    object-fit: cover;
    // width: 96px;
    // height: 96px;
    max-width: 350px;
  }

  .choose-file-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--gray);
    border-radius: var(--box-border-radius);
    padding: 7px 20px;
    margin-top: 20px;
    cursor: pointer;
    max-width: 650px;

    .btn-title {
      font-weight: 500;
      line-height: 1.3;
    }

    .btn-sub-title {
      font-size: 14px;
      line-height: 1.3;
    }

    input {
      display: none;
    }
  }

  .choosed {
    border-color: var(--primary-color);
  }

  .btns {
    margin-top: 26px;
  }
}

//CHANGE INFO MODAL
.change-info-modal {
  .modal-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .error-message {
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 18px 0;
    width: 100%;

    div {
      width: 100%;
    }
  }

  .box-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 500;
    }

    .input,
    .input-textarea {
      outline: none;
      border: 1px solid var(--gray);
      padding: 5px 10px;
      border-radius: var(--box-border-radius);
      margin-left: 20px;
      width: 30rem;
      transition: all 0.1s linear;

      &:focus {
        border-color: var(--primary-color);
      }
    }
  }

  .box-input + .box-input {
    margin-top: 12px;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 768px) {
  .container {
    .info {
      .details {
        .content {
          flex-direction: column !important;

          div {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
