.ProseMirror {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  outline: none;
  padding: 10px;
  border: 2px solid black;
  min-height: 100px;
  max-height: 500px;
  overflow: auto;
  line-height: 1.5;
}

.menu-bar {
  margin-top: 15px;
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}

.text-editor:last-child > div > div {
  pre {
    background-color: #27212d;
    padding: 5px 10px;
    border-radius: 10px;
    code {
      font-family: "JetBrainsMono", monospace;
      padding: 3px 8px;
      border-radius: 5px;
      color: #ed7966;
    }
  }
  p,
  span {
    outline: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    line-height: 1.5;
    margin-bottom: 1em;
    color: var(--text-color-black) !important;

    a {
      color: #ed7966 !important;
      text-decoration: underline;
    }

    ul,
    ol {
      padding: 0 1rem;
      list-style-type: disc;
      margin-bottom: 1em;
      margin-left: 2em;
    }

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    code {
      font-family: "JetBrainsMono", monospace;
      background-color: #27212d;
      padding: 3px 8px;
      border-radius: 5px;
      color: #ed7966;
    }

    pre {
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0d0d0d, 0.1);
      margin: 1em 0;
      padding: 0 1em;
      border-left: 4px solid #ccc;
    }

    hr {
      border: none;
      border-top: 2px solid rgba(#0d0d0d, 0.1);
      margin: 1.5em 0;
    }
  }
}
